
//  Welcome to Compass.
//  In this file you should write your main styles. (or centralize your imports)
//  Import this file using the following HTML or equivalent:
//  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />


@import compass/reset

html
  font-size: 16px

body
  background: #f9f9f9
  font-family: 'Open Sans', sans-serif
  color: #a8abb0
  font-size: .81em /* 13 px */
  line-height: 1.33em

strong
  font-weight: 700
  color: #4d4d4d

a
  text-decoration: none
  color: #c4c4c4

p
  margin-bottom: 22px
  &:last-child
    margin-bottom: 0

.no-pad
  padding: 0

h1, h2
  color: #566266
  font-size: .875em
  font-weight: 700

.main-header-wrapper, #content, .main-footer-wrapper
  width: 940px
  margin: 0 auto


.clear
  clear: both


*, *:before, *:after
  -webkit-box-sizing: border-box /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box   /* Firefox, other Gecko */
  box-sizing: border-box


// Header section  

#main-header
  background: #fff
  border-bottom: 1px solid #d2d2d2
  box-shadow: 0 0 4px #d2d2d2
  margin: 0 0 40px 0
  &:after
    clear: both
    content: ""
    display: table

.logo
  float: left
  margin: 35px 60px 0 0

.main-header-wrapper .user
  width: 15%
  float: right
  margin: 25px 0 0 0
  p
    padding: 10px 0 0 0
    float: left
    width: 55%

.user-icon
  float: left
  margin: 0 11px 0 0

.arrow
  margin: 0 0 0 5px
  float: right
  padding: 17px 0 0 0

#main-nav
  width: 65%
  float: left
  li
    display: inline
    a 
      padding: 35px 20px
      float: left
      text-decoration: none
      color: #a8abb0
      &:hover, .selected
        color: #566266
  .selected a
    background: #f1f1f1
    color: #566266
    border-bottom: 4px solid #3b4346


// Content section

div[role=main]
  width: 672px
  float: left
  

// -- search form

#search-form
  margin-bottom: 20px
  color: #fff
  .main 
    padding: 28px
    background: #3b4346
    border-radius: 5px 5px 0 0
    p
      float: left
      width: 288px
      margin-right: 35px
      &:last-child
        margin-right: 0
    label
      padding-bottom: 11px
      float: left
  .filters
    border: 1px solid #d2d2d2
    background: #fff
    border-radius: 0 0 5px 5px
    padding: 25px 28px
    .tag
      background: #c4c4c4
      padding: 4px 10px
      border-radius: 0 5px 5px 0
      display: inline
      margin-right: 10px
      &:hover
        background-color: #ababab
    .selected
      background: #3b4346
    label
      display: inline
    .regular-checkbox
      display: none
    .regular-checkbox + label
      background-color: #9d9d9d
      padding: 4px 15px
      border-radius: 5px 0 0 5px
      display: inline
      position: relative
    .regular-checkbox + label:hover
      background-color: #898989
    .regular-checkbox + label:after
      content: url('../images/not-check-icon.png')
      position: absolute
      top: 5px
      left: 12px
    .regular-checkbox + label:active, .regular-checkbox:checked + label:active
      box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1)
    .regular-checkbox:checked + label
      background-color: #2f3638
      color: #99a1a7 
    .regular-checkbox:checked + label:after
      content: url('../images/check-icon.png')
      position: absolute
      top: 9px
      left: 9px
      color: #99a1a7
  input[type="text"]
    border-radius: 5px
    padding: 16px 0 16px 35px
    width: 288px
  #keyword
    background: #fff url('../images/gear-icon.png') no-repeat 11px 17px
  #location
    background: #fff url('../images/location-search-icon.png') no-repeat 11px 17px  
.zip-code
  float: right
  text-decoration: none
  color: #919596
  padding-bottom: 5px
  border-bottom: 1px dashed
  &:hover
    color: #fff

// -- warning notice

#notifications
  background: #f1e2a4 url('../images/warning-icon.png') no-repeat 20px 22px
  border: 1px solid #ccbf8b
  border-radius: 5px
  color: #998f68
  padding: 20px 20px 20px 88px
  position: relative
  margin-bottom: 20px
  strong
    color: #807757

.warning .close-icon
  top: 10px
  right: 10px
  position: absolute

aside[role=complementary]
  width: 243px
  float: right

// -- search results

#search-results-content
  margin-bottom: 20px

#search-results
  background: #f1f1f1
  border: 1px solid #c4c4c4
  border-radius: 5px 5px 0 0
  padding: 15px 25px
  &:after
    clear: both
    content: ""
    display: table
  p
    float: left
    width: 70%
    padding-top: 4px
  form
    float: right
    width: 24%
.search-result, 
  &:after
    clear: both
    content: ""
    display: table
  padding: 22px
  border-left: 1px solid #d2d2d2
  border-right: 1px solid #d2d2d2
  border-top: 1px dashed #d2d2d2
  &.featured
    background: #f1f1f1
    border-top: 1px solid #d2d2d2
    border-bottom: 1px solid #d2d2d2
  .fav, .thumb, .title, .fav-selected, .company, .category, .location
    float: left
  .fav, .fav-selected
    margin-right: 22px
    padding-top: 22px
  .thumb, .title, .category
    margin-right: 22px
  .title
    width: 35%
    a
      font-weight: 700
      color: #4d4d4d
      font-size: 1.06em
      &:hover
        color: #e16143
    .company
      margin-top: 7px
  .category
    padding: 5px 10px
    border-radius: 5px
    background: gray
    color: #fff
    margin-top: 20px
  .freelance
    background: #5886ba
  .fulltime
    background: #d59842
  .contract
    background: #32c1b2
  .location
    background: url('../images/location-search-icon.png') no-repeat
    padding: 0 0 0 25px
    margin-top: 23px

.search-result:last-of-type 
  border-bottom: 1px solid #d2d2d2 
  border-radius: 0 0 5px 5px
  border-top: none
.search-result:first-of-type 
  border-top: none

// -- results pagination

#pagination

  float: left
  ul li
    display: inline-block
    background: #f9f9f9
    border: 1px solid #d2d2d2
    border-radius: 5px
    margin-right: 10px
    float: left
    a
      color: #c4c4c4
      padding: 20px
      float: left
      &:hover
        background: #fff
        border-radius: 5px
      &:active
        background: #f2f2f2
      
    a.prev, a.next
      padding: 20px 30px
    a.current
      color: #3b4346
      background: #fff
      border-radius: 5px
  ul li.elipsis
    border: none
    padding: 18px 6px   

//-- complementary content

a img.add-opening
  margin-bottom: 15px

.text-widget, .featured-companies, .newsletter-signup
  background: #fff
  margin-bottom: 20px
  border-radius: 5px
  border: 1px solid #d2d2d2
.text-widget h1.title, .text-widget .widget-content, .section-header, .section-footer
  padding: 19px
.text-widget h1.title, .section-header, .section-footer
  background: #f1f1f1
  border-bottom: 1px solid #d2d2d2
  border-radius: 5px 5px 0 0
.featured-companies a
  color: #c4c4c4

.featured-companies ul li
  position: relative
  margin-bottom: 20px  
.featured-companies .quantity
  background: #e16143
  display: inline
  padding: 7px
  border-radius: 50px
  border: 3px solid #fff
  position: absolute
  color: #fff
  font-weight: 700
  right: -1px
  top: -5px


// -- Newsletter signup

.newsletter-signup
  background: url('../images/envelope.png') no-repeat top
  border: none
  padding: 20px
  height: 172px
  p
    text-align: center
  span 
    color: #e16143
  h1.title
    margin: 0 0 10px 66px
#newsletter-signup
  input[type="text"]
    border-radius: 5px
    border: none
    padding: 10px 5px 10px 35px
    border: 1px solid #d2d2d2
    background: #fff url('../images/envelope-icon.png') no-repeat 10px 13px 
    margin: 0 0 10px 5px
  input[type="submit"]
    padding: 5px 25px
    border: none
    color: #fff
    border-radius: 5px
    margin: 0 0 20px 60px
    cursor: pointer
    background: #e16143

// Footer section

#main-footer
  background: #fff
  border-top: 1px solid #d2d2d2
  box-shadow: 0 0 4px #d2d2d2
  margin-top: 77px

.logo-light
  float: left
  margin: 35px 60px 0 0

#links
  width: 64%
  float: left
  li
    display: inline
    a 
      padding: 35px 20px
      float: left
      text-decoration: none
      color: #a8abb0
      &:hover, .selected
        color: #566266
  .selected a
    background: #f1f1f1
    color: #566266
    border-bottom: 4px solid #3b4346  

#social
  width: 16%
  float: left
  li
    display: inline
    a 
      padding: 25px 13px
      float: right
      text-decoration: none
      color: #a8abb0
      &:hover, .selected
        color: #566266
      &:last-child
        padding-right: 0

  .selected a
    background: #f1f1f1
    color: #566266
    border-bottom: 4px solid #3b4346 




// -- openings page

#opening-banner
  margin-bottom: 22px


.section-wrapper
  border: 1px solid #d2d2d2
  border-radius: 5px
  margin-bottom: 22px

.section-header
  h1
    float: left
    margin-right: 22px
  .post-date
    display: inline
    float: right
    span
      color: #e16143
  .category
    display: inline
    padding: 5px 10px
    border-radius: 5px
    background: gray
    color: #fff
    margin-top: 20px
  .freelance
    background: #5886ba
  .fulltime
    background: #d59842
  .contract
    background: #32c1b2
.section-footer
  border-bottom: none
  border-top: 1px solid #d2d2d2
  border-radius: 0 0 5px 5px
.opening-section
  border-top: 1px dashed #d2d2d2
  padding: 22px
  .thumb
    float: left
    margin-right: 19px
  .title
    a
      font-weight: 700
      color: #4d4d4d
      font-size: 1.06em
      &:hover
        color: #e16143
  &:after
    clear: both
    content: ""
    display: table
  .opening-section-title
    width: 35%
    margin-right: 5%
    float: left
  .opening-section-description
    width: 60%
    float: right
.opening-section:first-of-type 
  border-top: none
.opening-footer-options 
  a
    padding-left: 25px
    margin-right: 30px
  .save-job
    background: url('../images/safe-icon.png') no-repeat left
  .print-job
    background: url('../images/print-icon.png') no-repeat left
  .report-job
    background: url('../images/flag-icon.png') no-repeat left
  .edit-job
    float: right
    margin-right: 0
.submit-request-btn
  float: right
.company-location
  padding-left: 20px
  background: url('../images/location-icon.png') no-repeat left
.company-link
  padding-left: 20px
  background: url('../images/link-icon.png') no-repeat left
  a
    color: #e16143
.company-tel
  padding-left: 20px
  background: url('../images/tel-icon.png') no-repeat 0 5px
  line-height: 27px
  margin-bottom: 10px
.company-email
  padding-left: 20px
  background: url('../images/email-icon.png') no-repeat 0 5px
  line-height: 27px  
