/* line 17, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../fire.app/lib/ruby/compass_0.12/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.sass */
html {
  font-size: 16px;
}

/* line 13, ../sass/screen.sass */
body {
  background: #f9f9f9;
  font-family: "Open Sans", sans-serif;
  color: #a8abb0;
  font-size: 0.81em;
  line-height: 1.33em;
}

/* line 20, ../sass/screen.sass */
strong {
  font-weight: 700;
  color: #4d4d4d;
}

/* line 24, ../sass/screen.sass */
a {
  text-decoration: none;
  color: #c4c4c4;
}

/* line 28, ../sass/screen.sass */
p {
  margin-bottom: 22px;
}
/* line 30, ../sass/screen.sass */
p:last-child {
  margin-bottom: 0;
}

/* line 33, ../sass/screen.sass */
.no-pad {
  padding: 0;
}

/* line 36, ../sass/screen.sass */
h1, h2 {
  color: #566266;
  font-size: 0.875em;
  font-weight: 700;
}

/* line 41, ../sass/screen.sass */
.main-header-wrapper, #content, .main-footer-wrapper {
  width: 940px;
  margin: 0 auto;
}

/* line 46, ../sass/screen.sass */
.clear {
  clear: both;
}

/* line 50, ../sass/screen.sass */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 58, ../sass/screen.sass */
#main-header {
  background: white;
  border-bottom: 1px solid #d2d2d2;
  box-shadow: 0 0 4px #d2d2d2;
  margin: 0 0 40px 0;
}
/* line 63, ../sass/screen.sass */
#main-header:after {
  clear: both;
  content: "";
  display: table;
}

/* line 68, ../sass/screen.sass */
.logo {
  float: left;
  margin: 35px 60px 0 0;
}

/* line 72, ../sass/screen.sass */
.main-header-wrapper .user {
  width: 15%;
  float: right;
  margin: 25px 0 0 0;
}
/* line 76, ../sass/screen.sass */
.main-header-wrapper .user p {
  padding: 10px 0 0 0;
  float: left;
  width: 55%;
}

/* line 81, ../sass/screen.sass */
.user-icon {
  float: left;
  margin: 0 11px 0 0;
}

/* line 85, ../sass/screen.sass */
.arrow {
  margin: 0 0 0 5px;
  float: right;
  padding: 17px 0 0 0;
}

/* line 90, ../sass/screen.sass */
#main-nav {
  width: 65%;
  float: left;
}
/* line 93, ../sass/screen.sass */
#main-nav li {
  display: inline;
}
/* line 95, ../sass/screen.sass */
#main-nav li a {
  padding: 35px 20px;
  float: left;
  text-decoration: none;
  color: #a8abb0;
}
/* line 100, ../sass/screen.sass */
#main-nav li a:hover, #main-nav li a .selected {
  color: #566266;
}
/* line 102, ../sass/screen.sass */
#main-nav .selected a {
  background: #f1f1f1;
  color: #566266;
  border-bottom: 4px solid #3b4346;
}

/* line 110, ../sass/screen.sass */
div[role=main] {
  width: 672px;
  float: left;
}

/* line 117, ../sass/screen.sass */
#search-form {
  margin-bottom: 20px;
  color: white;
}
/* line 120, ../sass/screen.sass */
#search-form .main {
  padding: 28px;
  background: #3b4346;
  border-radius: 5px 5px 0 0;
}
/* line 124, ../sass/screen.sass */
#search-form .main p {
  float: left;
  width: 288px;
  margin-right: 35px;
}
/* line 128, ../sass/screen.sass */
#search-form .main p:last-child {
  margin-right: 0;
}
/* line 130, ../sass/screen.sass */
#search-form .main label {
  padding-bottom: 11px;
  float: left;
}
/* line 133, ../sass/screen.sass */
#search-form .filters {
  border: 1px solid #d2d2d2;
  background: white;
  border-radius: 0 0 5px 5px;
  padding: 25px 28px;
}
/* line 138, ../sass/screen.sass */
#search-form .filters .tag {
  background: #c4c4c4;
  padding: 4px 10px;
  border-radius: 0 5px 5px 0;
  display: inline;
  margin-right: 10px;
}
/* line 144, ../sass/screen.sass */
#search-form .filters .tag:hover {
  background-color: #ababab;
}
/* line 146, ../sass/screen.sass */
#search-form .filters .selected {
  background: #3b4346;
}
/* line 148, ../sass/screen.sass */
#search-form .filters label {
  display: inline;
}
/* line 150, ../sass/screen.sass */
#search-form .filters .regular-checkbox {
  display: none;
}
/* line 152, ../sass/screen.sass */
#search-form .filters .regular-checkbox + label {
  background-color: #9d9d9d;
  padding: 4px 15px;
  border-radius: 5px 0 0 5px;
  display: inline;
  position: relative;
}
/* line 158, ../sass/screen.sass */
#search-form .filters .regular-checkbox + label:hover {
  background-color: #898989;
}
/* line 160, ../sass/screen.sass */
#search-form .filters .regular-checkbox + label:after {
  content: url("../images/not-check-icon.png");
  position: absolute;
  top: 5px;
  left: 12px;
}
/* line 165, ../sass/screen.sass */
#search-form .filters .regular-checkbox + label:active, #search-form .filters .regular-checkbox:checked + label:active {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}
/* line 167, ../sass/screen.sass */
#search-form .filters .regular-checkbox:checked + label {
  background-color: #2f3638;
  color: #99a1a7;
}
/* line 170, ../sass/screen.sass */
#search-form .filters .regular-checkbox:checked + label:after {
  content: url("../images/check-icon.png");
  position: absolute;
  top: 9px;
  left: 9px;
  color: #99a1a7;
}
/* line 176, ../sass/screen.sass */
#search-form input[type="text"] {
  border-radius: 5px;
  padding: 16px 0 16px 35px;
  width: 288px;
}
/* line 180, ../sass/screen.sass */
#search-form #keyword {
  background: white url("../images/gear-icon.png") no-repeat 11px 17px;
}
/* line 182, ../sass/screen.sass */
#search-form #location {
  background: white url("../images/location-search-icon.png") no-repeat 11px 17px;
}

/* line 184, ../sass/screen.sass */
.zip-code {
  float: right;
  text-decoration: none;
  color: #919596;
  padding-bottom: 5px;
  border-bottom: 1px dashed;
}
/* line 190, ../sass/screen.sass */
.zip-code:hover {
  color: white;
}

/* line 195, ../sass/screen.sass */
#notifications {
  background: #f1e2a4 url("../images/warning-icon.png") no-repeat 20px 22px;
  border: 1px solid #ccbf8b;
  border-radius: 5px;
  color: #998f68;
  padding: 20px 20px 20px 88px;
  position: relative;
  margin-bottom: 20px;
}
/* line 203, ../sass/screen.sass */
#notifications strong {
  color: #807757;
}

/* line 206, ../sass/screen.sass */
.warning .close-icon {
  top: 10px;
  right: 10px;
  position: absolute;
}

/* line 211, ../sass/screen.sass */
aside[role=complementary] {
  width: 243px;
  float: right;
}

/* line 217, ../sass/screen.sass */
#search-results-content {
  margin-bottom: 20px;
}

/* line 220, ../sass/screen.sass */
#search-results {
  background: #f1f1f1;
  border: 1px solid #c4c4c4;
  border-radius: 5px 5px 0 0;
  padding: 15px 25px;
}
/* line 225, ../sass/screen.sass */
#search-results:after {
  clear: both;
  content: "";
  display: table;
}
/* line 229, ../sass/screen.sass */
#search-results p {
  float: left;
  width: 70%;
  padding-top: 4px;
}
/* line 233, ../sass/screen.sass */
#search-results form {
  float: right;
  width: 24%;
}

/* line 236, ../sass/screen.sass */
.search-result {
  padding: 22px;
  border-left: 1px solid #d2d2d2;
  border-right: 1px solid #d2d2d2;
  border-top: 1px dashed #d2d2d2;
}
/* line 237, ../sass/screen.sass */
.search-result:after {
  clear: both;
  content: "";
  display: table;
}
/* line 245, ../sass/screen.sass */
.search-result.featured {
  background: #f1f1f1;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
}
/* line 249, ../sass/screen.sass */
.search-result .fav, .search-result .thumb, .search-result .title, .search-result .fav-selected, .search-result .company, .search-result .category, .search-result .location {
  float: left;
}
/* line 251, ../sass/screen.sass */
.search-result .fav, .search-result .fav-selected {
  margin-right: 22px;
  padding-top: 22px;
}
/* line 254, ../sass/screen.sass */
.search-result .thumb, .search-result .title, .search-result .category {
  margin-right: 22px;
}
/* line 256, ../sass/screen.sass */
.search-result .title {
  width: 35%;
}
/* line 258, ../sass/screen.sass */
.search-result .title a {
  font-weight: 700;
  color: #4d4d4d;
  font-size: 1.06em;
}
/* line 262, ../sass/screen.sass */
.search-result .title a:hover {
  color: #e16143;
}
/* line 264, ../sass/screen.sass */
.search-result .title .company {
  margin-top: 7px;
}
/* line 266, ../sass/screen.sass */
.search-result .category {
  padding: 5px 10px;
  border-radius: 5px;
  background: gray;
  color: white;
  margin-top: 20px;
}
/* line 272, ../sass/screen.sass */
.search-result .freelance {
  background: #5886ba;
}
/* line 274, ../sass/screen.sass */
.search-result .fulltime {
  background: #d59842;
}
/* line 276, ../sass/screen.sass */
.search-result .contract {
  background: #32c1b2;
}
/* line 278, ../sass/screen.sass */
.search-result .location {
  background: url("../images/location-search-icon.png") no-repeat;
  padding: 0 0 0 25px;
  margin-top: 23px;
}

/* line 283, ../sass/screen.sass */
.search-result:last-of-type {
  border-bottom: 1px solid #d2d2d2;
  border-radius: 0 0 5px 5px;
  border-top: none;
}

/* line 287, ../sass/screen.sass */
.search-result:first-of-type {
  border-top: none;
}

/* line 292, ../sass/screen.sass */
#pagination {
  float: left;
}
/* line 295, ../sass/screen.sass */
#pagination ul li {
  display: inline-block;
  background: #f9f9f9;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  margin-right: 10px;
  float: left;
}
/* line 302, ../sass/screen.sass */
#pagination ul li a {
  color: #c4c4c4;
  padding: 20px;
  float: left;
}
/* line 306, ../sass/screen.sass */
#pagination ul li a:hover {
  background: white;
  border-radius: 5px;
}
/* line 309, ../sass/screen.sass */
#pagination ul li a:active {
  background: #f2f2f2;
}
/* line 312, ../sass/screen.sass */
#pagination ul li a.prev, #pagination ul li a.next {
  padding: 20px 30px;
}
/* line 314, ../sass/screen.sass */
#pagination ul li a.current {
  color: #3b4346;
  background: white;
  border-radius: 5px;
}
/* line 318, ../sass/screen.sass */
#pagination ul li.elipsis {
  border: none;
  padding: 18px 6px;
}

/* line 324, ../sass/screen.sass */
a img.add-opening {
  margin-bottom: 15px;
}

/* line 327, ../sass/screen.sass */
.text-widget, .featured-companies, .newsletter-signup {
  background: white;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
}

/* line 332, ../sass/screen.sass */
.text-widget h1.title, .text-widget .widget-content, .section-header, .section-footer {
  padding: 19px;
}

/* line 334, ../sass/screen.sass */
.text-widget h1.title, .section-header, .section-footer {
  background: #f1f1f1;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 5px 5px 0 0;
}

/* line 338, ../sass/screen.sass */
.featured-companies a {
  color: #c4c4c4;
}

/* line 341, ../sass/screen.sass */
.featured-companies ul li {
  position: relative;
  margin-bottom: 20px;
}

/* line 344, ../sass/screen.sass */
.featured-companies .quantity {
  background: #e16143;
  display: inline;
  padding: 7px;
  border-radius: 50px;
  border: 3px solid white;
  position: absolute;
  color: white;
  font-weight: 700;
  right: -1px;
  top: -5px;
}

/* line 359, ../sass/screen.sass */
.newsletter-signup {
  background: url("../images/envelope.png") no-repeat top;
  border: none;
  padding: 20px;
  height: 172px;
}
/* line 364, ../sass/screen.sass */
.newsletter-signup p {
  text-align: center;
}
/* line 366, ../sass/screen.sass */
.newsletter-signup span {
  color: #e16143;
}
/* line 368, ../sass/screen.sass */
.newsletter-signup h1.title {
  margin: 0 0 10px 66px;
}

/* line 371, ../sass/screen.sass */
#newsletter-signup input[type="text"] {
  border-radius: 5px;
  border: none;
  padding: 10px 5px 10px 35px;
  border: 1px solid #d2d2d2;
  background: white url("../images/envelope-icon.png") no-repeat 10px 13px;
  margin: 0 0 10px 5px;
}
/* line 378, ../sass/screen.sass */
#newsletter-signup input[type="submit"] {
  padding: 5px 25px;
  border: none;
  color: white;
  border-radius: 5px;
  margin: 0 0 20px 60px;
  cursor: pointer;
  background: #e16143;
}

/* line 389, ../sass/screen.sass */
#main-footer {
  background: white;
  border-top: 1px solid #d2d2d2;
  box-shadow: 0 0 4px #d2d2d2;
  margin-top: 77px;
}

/* line 395, ../sass/screen.sass */
.logo-light {
  float: left;
  margin: 35px 60px 0 0;
}

/* line 399, ../sass/screen.sass */
#links {
  width: 64%;
  float: left;
}
/* line 402, ../sass/screen.sass */
#links li {
  display: inline;
}
/* line 404, ../sass/screen.sass */
#links li a {
  padding: 35px 20px;
  float: left;
  text-decoration: none;
  color: #a8abb0;
}
/* line 409, ../sass/screen.sass */
#links li a:hover, #links li a .selected {
  color: #566266;
}
/* line 411, ../sass/screen.sass */
#links .selected a {
  background: #f1f1f1;
  color: #566266;
  border-bottom: 4px solid #3b4346;
}

/* line 416, ../sass/screen.sass */
#social {
  width: 16%;
  float: left;
}
/* line 419, ../sass/screen.sass */
#social li {
  display: inline;
}
/* line 421, ../sass/screen.sass */
#social li a {
  padding: 25px 13px;
  float: right;
  text-decoration: none;
  color: #a8abb0;
}
/* line 426, ../sass/screen.sass */
#social li a:hover, #social li a .selected {
  color: #566266;
}
/* line 428, ../sass/screen.sass */
#social li a:last-child {
  padding-right: 0;
}
/* line 431, ../sass/screen.sass */
#social .selected a {
  background: #f1f1f1;
  color: #566266;
  border-bottom: 4px solid #3b4346;
}

/* line 441, ../sass/screen.sass */
#opening-banner {
  margin-bottom: 22px;
}

/* line 445, ../sass/screen.sass */
.section-wrapper {
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  margin-bottom: 22px;
}

/* line 451, ../sass/screen.sass */
.section-header h1 {
  float: left;
  margin-right: 22px;
}
/* line 454, ../sass/screen.sass */
.section-header .post-date {
  display: inline;
  float: right;
}
/* line 457, ../sass/screen.sass */
.section-header .post-date span {
  color: #e16143;
}
/* line 459, ../sass/screen.sass */
.section-header .category {
  display: inline;
  padding: 5px 10px;
  border-radius: 5px;
  background: gray;
  color: white;
  margin-top: 20px;
}
/* line 466, ../sass/screen.sass */
.section-header .freelance {
  background: #5886ba;
}
/* line 468, ../sass/screen.sass */
.section-header .fulltime {
  background: #d59842;
}
/* line 470, ../sass/screen.sass */
.section-header .contract {
  background: #32c1b2;
}

/* line 472, ../sass/screen.sass */
.section-footer {
  border-bottom: none;
  border-top: 1px solid #d2d2d2;
  border-radius: 0 0 5px 5px;
}

/* line 476, ../sass/screen.sass */
.opening-section {
  border-top: 1px dashed #d2d2d2;
  padding: 22px;
}
/* line 479, ../sass/screen.sass */
.opening-section .thumb {
  float: left;
  margin-right: 19px;
}
/* line 483, ../sass/screen.sass */
.opening-section .title a {
  font-weight: 700;
  color: #4d4d4d;
  font-size: 1.06em;
}
/* line 487, ../sass/screen.sass */
.opening-section .title a:hover {
  color: #e16143;
}
/* line 489, ../sass/screen.sass */
.opening-section:after {
  clear: both;
  content: "";
  display: table;
}
/* line 493, ../sass/screen.sass */
.opening-section .opening-section-title {
  width: 35%;
  margin-right: 5%;
  float: left;
}
/* line 497, ../sass/screen.sass */
.opening-section .opening-section-description {
  width: 60%;
  float: right;
}

/* line 500, ../sass/screen.sass */
.opening-section:first-of-type {
  border-top: none;
}

/* line 503, ../sass/screen.sass */
.opening-footer-options a {
  padding-left: 25px;
  margin-right: 30px;
}
/* line 506, ../sass/screen.sass */
.opening-footer-options .save-job {
  background: url("../images/safe-icon.png") no-repeat left;
}
/* line 508, ../sass/screen.sass */
.opening-footer-options .print-job {
  background: url("../images/print-icon.png") no-repeat left;
}
/* line 510, ../sass/screen.sass */
.opening-footer-options .report-job {
  background: url("../images/flag-icon.png") no-repeat left;
}
/* line 512, ../sass/screen.sass */
.opening-footer-options .edit-job {
  float: right;
  margin-right: 0;
}

/* line 515, ../sass/screen.sass */
.submit-request-btn {
  float: right;
}

/* line 517, ../sass/screen.sass */
.company-location {
  padding-left: 20px;
  background: url("../images/location-icon.png") no-repeat left;
}

/* line 520, ../sass/screen.sass */
.company-link {
  padding-left: 20px;
  background: url("../images/link-icon.png") no-repeat left;
}
/* line 523, ../sass/screen.sass */
.company-link a {
  color: #e16143;
}

/* line 525, ../sass/screen.sass */
.company-tel {
  padding-left: 20px;
  background: url("../images/tel-icon.png") no-repeat 0 5px;
  line-height: 27px;
  margin-bottom: 10px;
}

/* line 530, ../sass/screen.sass */
.company-email {
  padding-left: 20px;
  background: url("../images/email-icon.png") no-repeat 0 5px;
  line-height: 27px;
}
